header {
    padding: 25px;
    background-color: #6c78b0;
}

header h1 {
    color: azure;

    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Shadows Into Light', cursive;

    letter-spacing: 10px;
    padding-top: 6px;
}

@media (max-width: 600px) {

    header h1 {
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 5px;
    }
}

@media (max-width: 400px) {

    header {
        padding: 20px;
    }

    header h1 {
        font-size: 1.3rem;
    }
}